repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5
    hooks:
      # Python linter. Ruff recommends running this before the formatter to
      # avoid conflicts when using the --fix flag
      - id: ruff
        args:
          - --fix
      # Formatter
      - id: ruff-format
